<button class="btn btn-primary btn-sm pull-right" data-target"#createRoom" data-toggle="modal">Create Rooms</button>
<div class="modal" id="createRoom" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Chatroom</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="home.add()">
                    <div class="form-group">
                        <label for="inputRoomName">Room Name</label>
                        <input class="form-control" ng-model="home.room" placeholder="Type Room Name" type="text" id="inputRoomName">
                        <input type="submit" id="submit" value="Submit" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
